<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barangay Human Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  
    <header>
        <h1>Barangay Human Management System</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Attendance</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Requests</a></li>
            <li><a href="#">Users</a></li>
        </ul>
    </nav>
    <main>
        <section class="content">
            <h2>Barangay Human Management System </h2>
            <p>content</p>
        </section>
    </main>
    

  <footer>
    <p>&copy; 2023 Barangay Human Management System</p>
  </footer>

  <script src="app.js"></script>
</body>
</html>

